
.list{
    overflow: auto;
  height: 38.5rem;
}
.list_top{
    height:3.125rem;
    display: flex; 
    justify-content: space-between;
    padding: 0 .75rem;
    align-items: center;
}
.list_top .list_top_left{
    font-size: 1rem;
    font-weight:500;
}
.list_top .list_top_left i{
    margin-right: .45rem;
}
.list_top .list_top_right i{
    padding: 0 .625rem;  
}
.list_center{
    background-image: url(../matter/images/timg3.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
    height:10.25rem;

}
.list .ant-collapse-content > .ant-collapse-content-box{
    padding: 0;
}
.list_bottom{
    padding-top: .25rem;
   min-height:25.1875rem;
   background-color: #f5f5f6;
}
.ant-collapse{
    border: 0;
}
.list_nav {
    background-color: #fff;
    color:#aaaaaa ; 
}
.list_son span:nth-child(1){
    color: #aaaaaa;
    font-weight: 500;
    margin-right: .625rem;

}
.list_son span:nth-child(2){
    color: #aeaeae;
    /* font-size:.875rem; */
    margin-right: .25rem;
}
.list_son span:nth-child(3){
    color: #aeaeae;
      font-weight: 500;
    margin-right: .25rem;
}
.list_son_son{
    display: flex;
}

.list_son_son .son_one{
margin-right: 1rem;
}
.list_son_son .son_one p:nth-child(1){
    font-size:1.125rem;
    font-weight: 500;
    color: #161515;
}
.list_son_son .son_one p:nth-child(2){
    font-size: .875rem;
    color: #aaaaaa;
}
.list_son_son .son_two{

}
.list_son_son .son_two>p:nth-child(1) span:nth-child(1){
    font-size:1.125rem;
    font-weight: 500;
    color: #161515;
    margin-right: .375rem;
}
.list_son_son .son_two>p:nth-child(1) span:nth-child(2){
    font-size: .875rem;
    color: #aaaaaa;
    
}
.list_son_son .son_two>p:nth-child(2) span{
margin-right: .25rem;
}
