.img-container{
    position: relative;
    text-align: center;
   top: 25rem;
   color: #000;
    .anticon{
        position: absolute;right:10px;top:10px;
    }
}
.hut{
  width: 22rem;
  height:3rem;
  color: #000;
  background: rgb(250, 247, 247);
}
.hy{
    font-size: 0.4rem;
}
.gytars{
    color: #000; 
}
.rtewq{
    font-size: 15px;
    line-height: 50px;
    text-indent:8px;
}
.rtewe{
    font-size: 12px;
}
.rrewq{
    font-size: 15px;
    line-height: 85px;
}
.uytasdsa{
    text-align: center;
}
.ytasdw{
     margin-top: 25px;
}
.ytaswwdw{
    font-weight: bold;
}
.kausdyas{
    font-size: 12px;
    line-height: 50px;
}
.asdajdasd{
    border-radius: 25px;
    background: rgb(0, 0, 0);
    padding: 20px; 
}